mixin breadcrumbs()
    .breadcrumbs

        a.breadcrumb-sperator=l.lbl.breadcrumb_sperator
        a.breadcrumb-item(href=url('/admin'))=l.lbl.admin
        a.breadcrumb-sperator=l.lbl.breadcrumb_sperator
