include ../user/_detail_form
include ../user/_passowrd_change_form
extends ../layout

block stylesheets
    link(rel='stylesheet', href=url.css('admin.css'))

block javascripts
    script(src=url.js('p.admin.user.js'))

block upper-content
    include back_to_admin

block left-content
    h1.page-title=l.lbl.admin_menu.user_manage
    include ../user/_list

block right-content
    #user-detail-section
        +user_detail_form({}, teams)
        +password_change_form({})


