extends ../layout

block stylesheets
    link(rel='stylesheet', href=url.css('person.css'))

block javascripts
    script(src=url.js('p.person.js'))

block left-content
    h1.page-title=person.name

