
        a.nav-item(href=url('/company'), key='company')=l.lbl.company

        a.nav-item(href=url('/chart'), key='chart')=l.lbl.chart

        a.nav-item(href=url('/person'), key='person')=l.lbl.person
