extends layout

block stylesheets
    link(rel='stylesheet', href=url.css('index.css'))

block javascripts
    script(src=url.js('p.index.js'))


block left-content
    h1.page-title=l.lbl.client
    p.lead=l.lead.index_page

block right-content
    include ./company/_list