@import "lib/tek-mixin";
@import "base-mixins";

@back:#FEFEF7;
@color:#531;
body{
  color:@color;
}
#book .book-page-left{
  background-color:@back;
  &:before{
    .linear-gradient(90deg, @back, darken(@back,1));
  }
}
#main{
  .box-sizing(border-box);
}
#book .book-page-right{
  background-color:@back;
  &:before{
   .linear-gradient(-90deg, @back, darken(@back, 3), darken(@back, 10));
  }
}

.block-list li{
  .item(@back){
    background-color: @back;
    border-color:@back;
    color:@color;
  }
  border-color:darken(@back,4);
  &:hover{
    .item(lighten(@back, 2));
  }
  &:active{
    .item(lighten(@back, 4));
  }
}

.large-font{
  font-size: 1.5em;
}

.wide-textarea{
  width:100%;
  min-height: 200px;
}
body{
  .rich();
  .paper{
    &:before,&:after{
      content:"&nbsp;";
    }
  }
}
#book{
  position: relative;
  td,th{
    border-color: fadeout(@color,20);
  }
}
#preview-section {
  display: none;
  padding-bottom: 20px;
  td {
    padding: 0;
  }

  .preview-sheet-content {
    position: relative;
    padding: 5px 10px;
  }
  .paper-content {
  }
  thead th{
    border-top:none;
  }
  .err-mark {
    display: none;
  }
  .has-err {
    position: relative;
    .err-mark {
      display: block;
      font-size: 8em;
      line-height: 40px;
      position: absolute;
      left: 0;
      top:0;
      .text-shadow(1px 1px 2px, .1);
      color: @red;
    }
  }
  .err-msg {
    font-family: cursive;
    color: @red;
    float: right;
    font-style: italic;
    text-align: right;
  }
}
.large-err{
  color:@red;
  font-size: 2em;
}
.tk-upload-form{
  width:100%;
  font-size: 3em;
  color:darken(@white, 15);
  @back:darken(@white, 4);
  background-color: @back;
  .border-radius(2px);
  border:1px solid darken(@back, 10);
  font-weight: normal;
}

.tab,
.tab:hover,
.tab.tab-active,
.tab.tab-active:hover,
.tab-content{
  background-color: @back;
  border-color:@color;
  color:@color;
}
.tk-upload-form{
  background-color: white;
  &.tk-drop-ready{
    background-color: rgb(104, 57, 30);
  }
}

a,input,textarea{
  outline-color: lighten(fadeout(@yellow, 90), 20);
}
.tab,
.tab.tab-active{
  outline: none;
}

#main{
  .btn{
    background-color: @white;
  }
}
.large-btn{
  font-size:1.5em;
  margin: 4px 8px;
}

blockquote{
  border-color: @color;

}

.block-list{
  .selectable-list-item{
    padding: 0 !important;
    .detail-arrow{
      opacity: 0;
      position: relative;
      right: 10px;
      border-left-color:#693B00;
    }
    a{
      display: inline-block;
      padding: 5px 10px 5px 10px;
      width:100%;
      height: 100%;
      &:hover{
        .detail-arrow{
          opacity: 1;
        }
      }
    }
    &:hover{
      @back:#813401;
      background-color: lighten(@back, 60);
    }
    &.selected,
    &.selected:hover,
    &.selected:active{
      @back:#813401;
      background-color: @back;
      color:@white;
      a{
      cursor: default;
        color:@white;
      }
      .detail-arrow{
        opacity: 1;
        border-left-color:@white;
      }
    }
  }
}

.float-table{
  margin-left:40px;
}