@import "lib/tek-mixin";
@import "lib/tek.view.less";
@import "lib/tek-style-clean";

@danger: #FF99AC;
@err : #FF7676;

.wood-back(){
  background-image:url('../images/purty_wood/purty_wood.png');
}
.book-cover-back(){
  background-image: url('../images/dark_leather/dark_leather.png');
}

body {
  margin: 0 auto;
  padding: 20px 20px;
  .icon-holder("../../images");
  .wood-back();
}

.inline-logo {
  a,
  a:hover {
    color: lighten(@gray, 30);
  }

}

/*
  ```
    <a class="btn-danger"> btn danger </a>
  ```
 */
.btn-danger {
  .btn(@danger);
}

#main {
  margin: 32px auto;
  width: 100%;
}

.wide-btn {
  .full-width;
  display: block;
  text-align: center;
}

.add-btn {
  .add-btn(@gray; @white;);
}

.half-width-btn {
  display: inline-block;
  width: 50%;
  .box-sizing(border-box);
}

.block-list-item-control {
  top: 0;
  padding: 5px;
  z-index: 199;
  a {
    &:hover {
      text-decoration: none;
    }
  }
}

.tk-loading {
  opacity: 0.5;
}

.no-style-list {
  .no-style-list();
}

.field {
  margin: 4px 0;
  label {
    margin-right: 5px;
  }
}

.tab-content {
  padding: 4px 8px;
}

.err-input {
  &[type='text'],
  &[type='url'],
  &[type='search'],
  &[type='tel'],
  &[type='password'] {
    border: 1px solid @err;
  }
}

.err-msg {
  color: @err;
}

/**
 ```
  <div class="err-alert"> err alert </div>
 ```
 */
.err-alert {
  .balloon(@red);
  color: #310000;
}

/**
 ```
  <div class="info-alert"> info alert </div>
 ```
 */
.info-alert {
  .balloon(@blue);
}

.alert-close-btn,
.alert-close-btn:hover {
  color: lighten(@red, 10);
  display: inline-block;
  padding: 1px 8px 2px;
  cursor: pointer;
  text-decoration: none;
  font-size: 22px;
  line-height: 16px;
  position: relative;
  right: -10px;
}

/**
  ```
    <ul>
      <li><a>menu01</a></li>
      <li><a>menu02</a></li>
    </ul>
  ```
 */
.dropdown-list {
  .no-style-list;
  .box-shadow(1px 1px 2px; .4);
  .border-radius(2px);
  position: absolute;
  margin: 5px 10px;
  right: 0;
  li {
    padding: 0;
    margin: 0;
  }
  a {
    display: inline-block;
    padding: 4px 8px;
    &:hover {

    }
  }
}

.no-style-submit {
  background: transparent;
  border: none;
}

.linear-gradient(@dir, @from, @to){
  .linear-gradient(~`"@{dir},@{from},@{to}"`);
}
.book(@coverBack:@gray) {
  .box-shadow(2px 2px 5px; .75);
  background-color: @coverBack;
  padding: 1%;
  position: relative;
  z-index: 1;
  @back: @white;
  .book-page(@direction) {
    position: relative;
    float: @direction;
    background-color: @back;
    display: inline-block;
    width: 50%;
    .box-sizing(border-box);
    .border-radius(2px;);
    &:before{
      content: "";
      position: absolute;
      display: block;
      width:10%;
      height: 100%;
    }
    &:after {
      .black-back(.7);
      .box-shadow(0 15px 10px rgba(0, 0, 0, 0.7));
      content: "";
      position: absolute;
      display: block;
      bottom:20px;
      width: 50%;
      height: 10%;
      z-index: -1;
    }
  }
  .book-page(@direction) when(@direction=left){
    &:before{
      .linear-gradient(90deg, @back, darken(@back,1));
      right:0;
      border-right:1px solid darken(@back,5);
    }
    &:after{
      .rotate(-1deg);
      left:1%;
    }
    .box-shadow(-2px 2px 0;.07);
  }
  .book-page(@direction) when(@direction=right){
    &:before{
      left:0;
      .linear-gradient(-90deg, @back, darken(@back, 3));
    }
    &:after{
      .rotate(2deg);
      right:1%;
    }
    .box-shadow(2px 2px 0;.07);
  }


  .book-page-left {
    .book-page(left);
  }
  .book-page-right {
    .book-page(right);
  }
  .book-page-inner{
    margin: 20px 35px;
    position: relative;
    z-index: 2;
    min-height: 200px;
  }

}

#book {
  .book();
  .border-radius(4px);
  padding:10px 10px;
  .book-cover-back();
}
#book-belt{
  z-index: -1;
  @h:18%;
  @w:1%;
  top:50% - (@h / 2);
  height:@h;
  right: -1 * @w;
  width:@w * 2;
  .book-cover-back();
  position: absolute;
  .border-radius(4px);
  .box-shadow(3px 3px 5px; .5);
}