@import "lib/tek-mixin";
@import "lib/tek.view.less";
@import "lib/tek-style-clean";

@danger: #FF99AC;
@err : #FF7676;

.wood-back() {
  background-image: url('../images/purty_wood/purty_wood.png');
}

.book-cover-back() {
  background-image: url('../images/dark_leather/dark_leather_@2X.png');
}

body {
  margin: 0 auto;
  padding: 30px 15px;
  .icon-holder("../../images");
  .wood-back();
}

.inline-logo {
  a,
  a:hover {
    color: lighten(@gray, 30);
  }

}

/*
  ```
    <a class="btn-danger"> btn danger </a>
  ```
 */
.btn-danger {
  .btn(@danger);
}

#main {
  margin: 32px auto;
  width: 100%;
}

.wide-btn {
  .full-width;
  display: block;
  text-align: center;
}

.add-btn {
  .add-btn(@gray; @white;);
}

.half-width-btn {
  display: inline-block;
  width: 50%;
  .box-sizing(border-box);
}

.block-list-item-control {
  top: 0;
  padding: 5px;
  z-index: 199;
  a {
    &:hover {
      text-decoration: none;
    }
  }
}

.tk-loading {
  opacity: 0.5;
}

.no-style-list {
  .no-style-list();
}

.field {
  margin: 4px 0;
  label {
    margin-right: 5px;
  }
}

.tab-content {
  padding: 4px 8px;
}

.err-input {
  &[type='text'],
  &[type='url'],
  &[type='search'],
  &[type='tel'],
  &[type='password'] {
    border: 1px solid @err;
  }
}

.err-msg {
  color: @err;
}

/**
 ```
  <div class="err-alert"> err alert </div>
 ```
 */
.err-alert {
  .balloon(@red);
  color: #310000;
}

/**
 ```
  <div class="info-alert"> info alert </div>
 ```
 */
.info-alert {
  .balloon(@blue);
}

.alert-close-btn,
.alert-close-btn:hover {
  color: lighten(@red, 10);
  display: inline-block;
  padding: 1px 8px 2px;
  cursor: pointer;
  text-decoration: none;
  font-size: 22px;
  line-height: 16px;
  position: relative;
  right: -10px;
}

/**
  ```
    <ul>
      <li><a>menu01</a></li>
      <li><a>menu02</a></li>
    </ul>
  ```
 */
.dropdown-list {
  .no-style-list;
  .box-shadow(1px 1px 2px; .4);
  .border-radius(2px);
  position: absolute;
  margin: 5px 10px;
  right: 0;
  li {
    padding: 0;
    margin: 0;
  }
  a {
    display: inline-block;
    padding: 4px 8px;
    &:hover {

    }
  }
}

.no-style-submit {
  background: transparent;
  border: none;
}

@import "base-mixins";

.book(@coverBack:@gray) {
  .box-shadow(2px 2px 5px; .75);
  background-color: @coverBack;
  padding: 1%;
  position: relative;
  z-index: 1;
  @back: @white;
  .book-page(@direction) {
    position: relative;
    float: @direction;
    background-color: @back;
    display: inline-block;
    width: 50%;
    .box-sizing(border-box);
    .border-radius(4px;);
    &:before {
      content: "";
      position: absolute;
      display: block;
      width: 10%;
      height: 100%;
    }
    &:after {
      .black-back(.7);
      .box-shadow(0 15px 10px rgba(0, 0, 0, 0.7));
      content: "";
      position: absolute;
      display: block;
      bottom: 20px;
      width: 50%;
      height: 10%;
      z-index: -1;
    }
  }
  .book-page(@direction) when (@direction=left) {
    &:before {
      .linear-gradient(90deg, @back, darken(@back, 1));
      right: 0;
      border-right: 1px solid darken(@back, 5);
    }
    &:after {
      .rotate(-1deg);
      left: 1%;
    }
    .box-shadow(-2px 2px 0; .07);
  }
  .book-page(@direction) when (@direction=right) {
    &:before {
      left: 0;
      .linear-gradient(-90deg, @back, darken(@back, 3), darken(@back, 10));
    }
    &:after {
      .rotate(2deg);
      right: 1%;
    }
    .box-shadow(2px 2px 0; .07);
  }

  .book-page-left {
    .book-page(left);
  }
  .book-page-right {
    .book-page(right);
    .box-shadow(0px -2px 3px, .4);
  }
  .book-page-inner {
    margin: 20px 35px;
    position: relative;
    z-index: 2;
    min-height: 300px;
  }

}

#book {
  .book();
  .border-radius(8px);
  padding: 10px 10px;
  .book-cover-back();
}

#book-belt {
  z-index: -1;
  @h: 18%;
  @w: 1%;
  top: 50% - (@h / 2);
  height: @h;
  right: -1 * @w;
  width: @w * 2;
  .book-cover-back();
  position: absolute;
  .border-radius(4px);
  .box-shadow(3px 3px 5px; .5);
}

a {
  @c: #8A5800;
  .a(@c);
}

footer {
  @c: #66300C;
  color: @c;
}

header {
  @c: #66300C;
  background-color: transparent;
  .box-shadow(none);
  color: @c;
  .logo {
    font-size: 1.5em;
    padding: 0 6px;
    display: inline-block;
    .text-shadow(0 -1px 1px rgba(255, 255, 255, 0.2));
    opacity: 1;
  }
  .nav-item {
    @c: #8A5800;
    .a(@c);
  }
}

#main-nav {
  float: right;
}

.sub-nav {
  float: none;
  .box-shadow(1px 1px 2px, .4);
  position: absolute;
  top: -16px;
  right: 24px;
  .box-shadow(none);
  .nav-item(@i) {
    @back: spin(#4d1c00, 360 / 4 * (@i+1));
    background-color: darken(@back, 4);
    border: 1px solid darken(@back, 5);
    @color: @white;
    color: fadeout(@color, 50);
    padding: 6px 10px 20px;
    .border-radius(@r; @r; 0; 0;);
    .box-shadow(2px 2px 4px, .4);
    @r: 4px;
    margin: 0 2px;
    font-family: cursive;
    line-height: 1em;
    &:hover {
      color: @color;
      background-color: @back;
    }
    &.active {
      background-color: @back;
      color: @color;
      .box-shadow(3px 3px 4px, .8);
    }
  }
  .nav-item {
    &:nth-child(4n) {
      .nav-item(0);
    }
    &:nth-child(4n+1) {
      .nav-item(1);
    }
    &:nth-child(4n+2) {
      .nav-item(2);
    }
    &:nth-child(4n+3) {
      .nav-item(3);
    }
  }
}

.front-sub-nav-item {
  position: absolute;
  top: -16px;
  right: 24px;
}

.page-title {
  font-size: 3em;
  margin: 0;
  padding-top: 0;
  line-height: 1em;
}

table {
  @c: #888;
  th, td {
    background-image: none;
    background-color: transparent;
    border-color: @c;
  }
  caption {
    font-size: 1.25em;
    text-align: left;
    margin: 0 5px 5px;
  }
  thead {
    th:first-child {
      border-left-width: 0;
    }
    th:last-child {
      border-right-width: 0;
    }
  }
  tbody {
    th {
      border-left-width: 0;
    }
    td:last-child {
      border-right-width: 0;
    }
  }
}

#book {
  .btn {
    background-image: none;
    background-color: transparent;
    border-color: @gray;
    &:hover {
      .box-shadow(2px 2px 3px, .4);
    }
    &:active {
      .box-shadow(none);
    }
  }
}

.wide-table {
  width: 100%;
}

th {
  width: 120px;
}

.no-style() {
  background-image: none;
  background-color: transparent;
  .box-shadow(none);
}

.block-list-header {
  .no-style();
}

.block-list li {
  .no-style();
  border-width: 1px 0;
  &:hover {
    @back: rgba(199, 199, 199, 0.2);
    background-color: @back;
    border-color: @back;
  }
  &:active {
    @back: #BEBEBE;
    background-color: @back;
    border-color: @back;
    .block-list-item-control {
      opacity: 0;
    }
  }
}

.add-btn {
  opacity: 1;
}

.alert {
  padding: 5px 10px;
  color: #5C2800;
  .white-back(.5);
  margin: 20px 0;
  border: 1px solid #F3F3F3;
  .border-radius(4px);
  .box-shadow(1px 1px 2px; .1);
}

#cross-page {
  padding: 80px 40px;
  .box-sizing(border-box);
}

.editable-form {
  &[data-mode="edit"] {

  }
  &[data-mode="view"] {
    input[type="checkbox"],
    input[type="radio"] {
      display: none;
    }
    select {
      border: none;
      background-color: transparent;
      -webkit-appearance: none;
      -moz-appearance: window;
    }
    .checkable-label {
      display: none !important;
      &.checked {
        display: inline-block !important;
      }
    }
  }
}

.breadcrumbs {
  display: block;
  padding: 4px 0;
  .breadcrumb-sperator {
    display: inline-block;
    margin: 0 4px;
  }
}

.back-link {
  display: inline-block;
  margin: 2px 4px;
  font-style: italic;
}

.detail-arrow {
  @w: 6px;
  border-width: @w;
  border-style: solid;
  border-color: transparent;
  border-left-color: lighten(@gray, 10);
  width: 0;
  height: 0;
  display: inline-block;
  position: relative;
  top: 2px;
}

.block-list-item-control {
  width: 50px;
  text-align: center;
  top: 3px;
}

.tk-hit-word {
  background-color: lighten(@yellow, 20);
  color:rgb(88, 53, 20);
}