@import "lib/tek-mixin";

#cross-page {
  padding-top: 100px;
}

.page-title {
  padding-top: 10px;
}

.sortable-th {
  @color: @gray;
  label {
    position: relative;
    cursor: pointer;
  }
  label:before {
    content: "";
    @w: 5px;
    border-style: solid;
    .square(0);
    border-width: @w;
    display: none;
    border-color: transparent;
    margin: 0 3px;
    position: absolute;
    left: -5px;
    top: 7px;
  }
  @l: 12px;
  &[data-asc="false"] {
    label {
      padding-left: @l;
    }
    label:before {

      display: inline-block;
      border-top-width: 0;
      border-bottom-color: @color;
    }
  }
  &[data-asc="true"] {
    label {
      padding-left: @l;
    }
    label:before {
      display: inline-block;
      border-top-color: @color;
      border-bottom-width: 0;
    }
  }
}

#left-page {
}

#book .book-page-right {
  z-index: 0;
  &:after {
    display: none;
  }
}

.filter-table-row-hidden {
  display: none;
}

.search-form-active {
  .border-radius(8px);
  @highlight: #F3F3F3;
  background-color: @highlight;
  .box-shadow(0 0 25px @highlight);
}

.filtered-col {
  @highlight: @yellow;
  border: 2px solid @highlight;
}

col:hover {
  background-color: gray;
  .sortable-th {
    background-color: @gray;
  }
}

.filter-add-btn {
  position: absolute;
  @c: darken(@white, 20);
  color: @c;
  border: none;
  @top: 2px;
  top: @top * -1;
  color: lighten(@gray, 4);
  padding: @top 4px 4px;
  right: 0;
  @r: 4px;
  .border-radius(@r @r 0 0);
  display: inline-block;
  cursor: pointer;
  &:hover {
    text-decoration: none;
  }
}

.sheet-thead {
  .hovered {
    .filter-add-btn {
    }
  }
}

body {
  .rich();
  #filter-select-section {
    position: absolute;
    top: 80px;
    z-index: 1000;
  }
}

.chart-filter-select-list-item {
  &.disabled {
    color:darken(@white, 30);
  }
}