@import "lib/tek-mixin";
@import "./base-mixins.less";


.small{
  font-size: .75em;
}
#cross-page {
  padding-top: 100px;
}

.page-title {
  padding-top: 10px;
}

.sortable-th {
  padding: 0;
  >div{
    padding: 5px 10px;
  }
  @color: @gray;
  label {
    position: relative;
    cursor: pointer;
  }
  label:before {
    content: "";
    @w: 5px;
    border-style: solid;
    .square(0);
    border-width: @w;
    display: none;
    border-color: transparent;
    margin: 0 3px;
    position: absolute;
    left: -5px;
    top: 7px;
  }
  @l: 12px;
  &[data-asc="false"] {
    label {
      padding-left: @l;
    }
    label:before {

      display: inline-block;
      border-top-width: 0;
      border-bottom-color: @color;
    }
  }
  &[data-asc="true"] {
    label {
      padding-left: @l;
    }
    label:before {
      display: inline-block;
      border-top-color: @color;
      border-bottom-width: 0;
    }
  }
}

#left-page {
}

#book .book-page-right {
  z-index: 0;
  &:after {
    display: none;
  }
}

.filter-table-row-hidden {
  display: none;
}

.search-form-active {
  .border-radius(8px);
  @highlight: #F3F3F3;
  background-color: @highlight;
  .box-shadow(0 0 25px @highlight);
}

.filter-add-btn {
  position: absolute;
  border: none;
  @top: 2px;
  top: @top * -1;
  color:@brown;
  padding: @top 4px 4px;
  right: 0;
  display: inline-block;
  cursor: pointer;
  &:hover {
    text-decoration: none;
  }
  &.filter-active{
    display: none;
  }
}

.filter-edit-btn{
  position: absolute;
  font-weight: normal;
  font-style: italic;
  .box-sizing(border-box);
  @size:16px;
  height: @size + 2px;
  line-height: @size;
  font-size: @size;
  right: -1px;
  top:-1px;
  padding: 2px 4px 4px;
  @back:@brown;
  @color:@white;
  color:@white;
  @r:2px;
  .border-radius(2px 2px 0 0);
  background-color: @back;
  display: none;
  &:hover{
    text-decoration: none;
    cursor: pointer;
  }
  &.filter-active{
    display: inline-block;
  }
}


.sheet-thead {
  .hovered {
    .filter-add-btn {
    }
  }
}
.sheet-colgroup{
  .filter-active{
    @color:@brown;
    border:3px solid @color;
  }
}

body {
  .rich();
  #filter-select-section {
    position: absolute;
    top: 80px;
    z-index: 1000;
    padding: 0;
    .paper-title{
      .grabbable();
    }
    .close-btn{
      display: inline-block;
      color:@gray;
      padding: 0 4px 2px;
      opacity: .5;
      font-size: 2em;
      top:0;
      right:2px;
      &:hover{
        opacity: 1;
        text-decoration: none;
      }
      &:active{
        opacity: .5;
      }
    }
    .paper-content{
      padding: 0;
    }
    .chart-filter-value-list{
      margin-top:10px;
      padding:5px 5px 10px;
      height: 300px;
      overflow-y: auto;
      border-top:1px solid darken(@white, 10);
      .toogle-list-item{
        background-color: @white;
        right: 5px;
      }
    }
    .margin-box{
      margin: 2px 10px;
    }
    form{
      padding-bottom:10px;
    }
  }

}

.chart-filter-select-list-item {
  &.disabled {
    color:darken(@white, 30);
  }
}


.sheet-tr-filter-hidden-0,
.sheet-tr-filter-hidden-1,
.sheet-tr-filter-hidden-2,
.sheet-tr-filter-hidden-3,
.sheet-tr-filter-hidden-4,
.sheet-tr-filter-hidden-5,
.sheet-tr-filter-hidden-6,
.sheet-tr-filter-hidden-7,
.sheet-tr-filter-hidden-8,
.sheet-tr-filter-hidden-9,
.sheet-tr-filter-hidden-10,
.sheet-tr-filter-hidden-11,
.sheet-tr-filter-hidden-12{
  display: none !important;
}