@import "lib/tek-mixin";

.inline-logo {
  display: none;
}

#large-logo {
  margin: 50px;
  font-size: 2em;
  .etched(0.5);
}

#company-list-form {
  padding-right: 0;
}

#company_list {
  min-height: 200px;
  .detail-link{
    width:90%;
  }
  .inline-form{
    width:50%;
    input[type="text"]{
      width:100%;
    }
  }
}