@import "lib/tek-mixin";
@import "base-mixins";

body {
  .rich();
  padding: 20px 20px;
  color: @brown;
  .title-text {
  }
  .paper-content{
    max-width: 300px;
    min-width:200px;
  }
  fieldset {
    border-color: @brown;
  }

  .block-list-item-control {
    right: -5px;
    top: 0;
    opacity: .1;
    display: none;
  }
  .issue-list-item {
    list-style: none;
    display: inline-block;
    color: #3F1A01;
    .border-radius(2px);
    textarea {
      width: 100%;
      height: 80%;
    }
    .paper-content {
      min-height: 100px;
    }

    &:hover {
      .block-list-item-control {
        opacity: 1;
      }
    }
    &.editable-list-item-fixed {
      select {
        border: none;
        background-color: transparent;
        -webkit-appearance: none;
        -moz-appearance: window;
        outline: none;
      }
      .save-btn{
        display: none !important;
      }
      .block-list-item-control {
        display: block;
      }
    }
  }

}
#main{
  margin-top:0;
}
#section-title {
  font-size: 6em;
  margin: 10px 0;
}
#main-nav,
#book {
  display: none !important;
}

#issue-add-btn{
  .stick-right(10px);
  .stick-top(20px);
}

fieldset{
  padding: 0;
  .white-back(.2);
  .box-shadow(2px 2px 4px, .5);
  .text-shadow(2px 2px 4px, .1);
  legend{
    margin-left:20px;
    font-size: 2em;
  }
  li{
    float: left;
  }
  .tk-transferable{
    min-height: 120px;
    padding: 20px 40px;
    margin: -15px 0 0;
    width:100%;
    height: 100%;
  }
  .tk-transferable-drop-ready{
    .white-back(.5);
  }
}
.ui-draggable-dragging{
  z-index: 101;
}
.add-btn {
  display: inline-block;
  font-size: 2em;
  padding: 10px;
  @r: 10px;
  .border-radius(0 @r @r 0);
  float: left;
  .black-back(.2);
  font-weight: bolder;
  @c: #552F19;
  border-color: fadeout(@c, 30);
  color: @c;
  &:hover {
    color: lighten(@c, 10);
    border-color: fadeout(@c, 40);
    .black-back(.1);
  }
  &:active {
    color: @c;
    .box-shadow(none);
    .black-back(.2);
  }
}


#working-issues-list{
  .paper-content{
    @back:#FFF68B;
    background-color: @back;
    border-color:darken(@back,5);
    color:rgb(119, 86, 0);
    .text-shadow(none);
  }
}
#done-issues-list{
  .paper-content{
    @back:#DFDFDF;
    color:darken(@back, 20);
    background-color: @back;
    border-color:darken(@back,5);
    .text-shadow(none);
  }
}
.issue-link-li{
  display: none;
}