mixin nav(sign_user)
    nav#nav
        if sign_user
            label(for='user-action-list', data-role='dropdown-btn')=sign_user.username
            a.nav-item(href=url('/mypage'))=l.lbl.mypage
            form#signout-form.inline-form(method='post',action=url('/signout'))
                a.nav-item(href='#', onclick="$('#signout-form').submit();")=l.lbl.signout
        else
            if needs_sign
                a#sign-link.nav-item(href=url('/sign'))=l.lbl.sign