<div class="pie-chart-labels">
    {{#each this}}

        <label>
            <span style="background-color: {{color}}" class="pye-chart-label-color"></span>
            <span>{{label}}</span>
        </label>
    {{/each}}
</div>
